.sidenav {
    position: absolute;
    top: 0;
    height: 100%;
    height: 100vh;
    width: 256px;
    background-color: white;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidenav--left {
    left: 0;
}

.sidenav--right {
    right: 0;
}

.sidenav--transition:not(.sidenav--swiping) {
    -webkit-transition: -webkit-transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s;
}

.sidenav--hide.sidenav--left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.sidenav--hide.sidenav--right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
